.role__list {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 89.7%;
    padding: 5%;
    background-color: white;
}

.role__list > button {
    align-self: flex-end;
    background-color: lightskyblue;
    border: none;
    color: white;
    height: 30px;
}