.item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    border: 1px solid grey;
    padding: 10px;

    width: calc(100% - 30px);
    margin-top:50px;
}

.item > a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.item__buttons button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.item__buttons button:first-child {
    color: lightskyblue;
}

.item__buttons button:last-child {
    color: red;
}